.page-layout {
  margin-bottom: -25px;
}

.card {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.card-img-top {
  width: 150px;
  height: 120px;
  border-radius: 20px;
  padding: 5px;
  justify-content: center;
  align-items: center;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn-detail {
  width: 100%;
}
